<%- include ./partials/header %>
    <h1>Selamat Datang</h1>

    <form method="post" action="/book/add">
        <button type="submit" class="btn btn-primary">Tambah Buku</button>
    </form><br/>

    <form method="post" action="/book/update/1">
        <button type="submit" class="btn btn-success">Edit Buku</button>
    </form>

<%- include ./partials/footer %>